body {
    margin: 0;
}

.header {
    height: 30px;
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;

    &__price {
        margin-left: 10px;
    }

    &__icon {
        color: red;
    }
}

.filter {
    border-bottom: 1px solid lightgrey;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__button {
        padding: 0 15px;
        height: 18px;
        border-radius: 9px;
        background-color: aquamarine;
        cursor: pointer;
        margin-right: 10px;
    }
}

.content {
    display: flex;
    justify-content: center;

    &__menu {
        width: 50px;
        border-left: 1px solid lightgreen;
        border-right: 1px solid lightgreen;
        padding: 10px;

    }
}